<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title> boot_JPA </title>
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.css}">
    <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="https://use.typekit.net/fok2rzk.css">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"> </div>

    <div layout:fragment="content">  </div>
</body>
</html>