<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}" xmlns="http://www.w3.org/1999/html">

<div layout:fragment="content">
    <div class="container-md">
        <h1>Boot Detail Page</h1>
        <hr>

        <div class="container-md">
        <form action="/board/modify" method="post" id="modForm" th:with="boardDTO=${boardFileDTO.boardDTO}" enctype="multipart/form-data">
            <input type="hidden" name="bno" th:value="${boardFileDTO.boardDTO.bno}">

            <div class="my-3">
                <label for="regAt"> 작성 날짜 </label>
                <input type="text" class="form-control" id="regAt" th:value="${boardDTO.getFormattedDateTime}" readonly>
            </div>

            <div class="my-3">
                <label for="modAt"> 수정 날짜 </label>
                <input type="text" class="form-control" id="modAt" th:value="${boardDTO.getFormattedModDateTime}" readonly>
            </div>

            <div class="mb-3">
                <label for="title"> 제목 </label>
                <input type="text" class="form-control" id="title" name="title"
                       th:value="${boardDTO.title}" readonly>
            </div>

            <div class="mb-3">
                <label for="writer"> 작성자 </label>
                <input type="text" class="form-control" id="writer" name="writer"
                       th:value="${boardDTO.writer}" readonly>
            </div>

            <div class="mb-3">
                <label for="content"> 내용 </label>
                <textarea name="content" id="content" cols="50" rows="5"
                          class="form-control" readonly>[[${boardDTO.content}]]
                </textarea>
            </div>

            <div class="mb-3" style="display:none;">
                <label for="password" class="form-label"> 비밀번호 </label>
                <input type="password" class="form-control" name="password" id="password" />
            </div>

            <!-- file -->
            <div class="mb-3">
                <!-- file 입력 라인 -->
                <div class="mb-3">
                    <label for="file" class="form-label">file</label>
                    <input type="file" class="form-control" name="files" id="file" multiple style="display: none;" />
                </div>
                <button type="button" id="trigger" disabled> file upload </button>

                <!-- file 출력 라인 -->
                <div class="input-group mb-3" id="fileZone"></div>

                <ul class="list-group list-group-flush">
                    <li th:each="fvo:${boardFileDTO.fileDTOList}" class="list-group-item">
                        <div th:if="${fvo.fileType > 0}" class="ms-2 me-auto">
                            <img th:src="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}|}" alt="img" />
                        </div>

                        <div th:unless="${fvo.fileType > 0}" class="ms-2 me-auto">
                            <a th:href="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}" th:download="${fvo.fileName}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                                    <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z"/>
                                </svg>
                            </a>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"> [[${fvo.fileName}]] </div>
                                [[${fvo.regAt}]]
                            </div>
                            <span class="badge text-bg-success rounded-pill ms-3"> [[${fvo.fileSize}]] Bytes </span>
                            <button type="button" th:data-uuid="${fvo.uuid}" class="btn btn-outline-warning btn-sm file-x ms-3" disabled style="visibility: hidden">
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">-->
<!--                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>-->
<!--                                </svg>-->x
                            </button>
                        </div>
                    </li>
                </ul>
            </div>

            <button type="button" id="listBtn" class="btn btn-outline-primary"> 목록 </button>
            <!-- detail page 에서 modify 상태로 변경하기 위한 버튼-->
            <button type="button" id="modBtn" class="btn btn-outline-warning"> 수정 </button>
            <button type="button" id="delBtn" class="btn btn-outline-danger"> 삭제 </button>
        </form>

        <form action="/board/delete" method="get" id="delForm" style="display:none;">
            <input type="hidden" name="bno" th:value="${boardFileDTO.boardDTO.bno}">
        </form>

        <!-- 댓글 입력 -->
        <div class="input-group mb-3">
            <span id="cmtWriter"> 댓글작성자 </span>
            <input type="text" id="cmtText" class="form-control" placeholder="Add Comment..." aria-label="Username" aria-describedby="basic-addon1">
            <button type="button" id="cmtAddBtn" class="btn btn-secondary">post</button>
        </div>

        <!-- 댓글 출력 -->
        <ul class="list-group list-group-flush" id="cmtListArea">
            <li class="list-group-item">
                <div class="ms-2 me-auto">
                    <div class="fw-bold"></div>
                </div>
                <span class="badge text-bg-primary rounded-pill"></span>
            </li>
        </ul>

        <!-- 댓글 더보기 버튼 : 더 표시하고자 하는 댓글이 없으면 사라지게함. -->
        <div> <button type="button" id="moreBtn" data-page="1" class="btn btn-dark" style="visibility: hidden"> + </button> </div>

        <!-- modal line -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="cmtWriterMod"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <input type="text" class="form-control" id="cmtTextMod">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="cmtModBtn" class="btn btn-primary">changes</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            let bnoVal= [[${boardFileDTO.boardDTO.bno}]];
            console.log(bnoVal);
        </script>
    </div>
    </div>

    <script th:src="@{/js/boardDetail.js}"> </script>
    <script th:src="@{/js/boardComment.js}"> </script>
    <script th:src="@{/js/boardRegister.js}"> </script>
    <script> spreadCommendList(bnoVal); </script>
</div>