<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <title> Contact Board </title>
    <link rel="stylesheet" type="text/css" href="/css/list.css" />
</head>

<div layout:fragment="content">
    <div class="container-md introduction">
        <h1 style="margin-bottom: 10px"> <img src="/img/camera-icon.png" class="camera-icon" alt="camera-icon"> Contact </h1>
        <p> 박동혁 </p>
        <p> Dong-hyuk Park </p>
        <p> is a Photographer </p>
        <p> Based in Seoul, South Korea. </p>
        <div class="introduction-last">
            <div>
                <img src="/img/email-icon.png" alt="email-icon" class="email-icon">
                <span> wkdehdwkdgur@naver.com </span>
            </div>
            <div>
                <button> <a href="/board/register"> write </a></button>
            </div>
        </div>
        <br>
        <hr>
    </div>
    <br>
    <div class="container-md">
        <table class="table table-hover bg-transparent">
            <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>writer</th>
                <th>regDate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bvo : ${list}">
                <td th:text="${bvo.bno}"></td>
                <td>
                    <a th:if="${isAdmin}" th:href="@{/board/detail(bno=${bvo.bno})}">
                        [[${bvo.title}]]
                        <span th:if="${bvo != null and bvo.cmtCount != null and bvo.cmtCount > 0}">([[${bvo.cmtCount}]])</span>
                    </a>
                    <a th:unless="${isAdmin}" th:href="@{/board/password-check(bno=${bvo.bno})}">
                        [[${bvo.title}]]
                        <span th:if="${bvo != null and bvo.cmtCount != null and bvo.cmtCount > 0}">([[${bvo.cmtCount}]])</span>
                    </a>
                </td>
                <td th:text="${bvo.writer}"></td>
                <td th:text="${bvo.formattedDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${pagingVO.hasPrev}">
                <a class="page-link" aria-label="Previous" th:href="@{/board/list(pageNo=${pagingVO.startPage - 1})}">
                    <span aria-hidden="true"> &laquo; </span>
                </a>
            </li>

            <th:block th:each="i : ${#numbers.sequence(pagingVO.startPage, pagingVO.endPage)}">
                <li class="page-item">
                    <a class="page-link" th:href="@{/board/list(pageNo=${i})}">
                       <span> [[${i}]] </span>
                    </a>
                </li>
            </th:block>

            <li class="page-item" th:if="${pagingVO.hasNext}">
                <a class="page-link" aria-label="Next" th:href="@{/board/list(pageNo=${pagingVO.endPage + 1})}">
                    <span aria-hidden="true"> &raquo; </span>
                </a>
            </li>
        </ul>
    </nav>
</div>