<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<div layout:fragment="content">
    <div class="container-md">
        <h1> 게시물 목록 </h1>
        <hr>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>writer</th>
                <th>regDate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bvo:${list}">
                <td>[[${bvo.bno}]]</td>
                <td><a th:href="@{/board/detail(bno=${bvo.bno})}">[[${bvo.title}]]</a></td>
                <td>[[${bvo.writer}]]</td>
                <td>[[${bvo.regAt}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>