<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<div layout:fragment="content">
    <div class="container-md">
        <div>
            <h1>비밀번호 확인</h1>
            <form th:action="@{/board/password-check(bno=${bno})}" method="post">
                <input type="hidden" name="bno" th:value="${bno}">
                <label for="password">비밀번호:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">확인</button>
                <p style="color: red;" th:text="${error}"></p>
            </form>
        </div>
    </div>
</div>