<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<div layout:fragment="content">
    <div class="container-md">
        <h1>Boot Register Page</h1>
        <hr>
        <div>
            <form action="/board/register" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="t" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" id="t" placeholder="title...">
                </div>

<!--                <div class="mb-3">-->
<!--                    <label for="w" class="form-label">Writer</label>-->
<!--                    <input type="text" class="form-control" name="writer" id="w" placeholder="writer...">-->
<!--                </div>-->
                <div class="mb-3">
                    <label class="form-label">Writer</label>
                    <!-- 로그인 사용자 -->
                    <input type="text" class="form-control" name="writer"
                           th:if="${isAuthenticated}" th:value="${writer}" readonly placeholder="writer...">
                    <!-- 비회원 -->
                    <input type="text" class="form-control"  name="writer"
                           th:unless="${isAuthenticated}" placeholder="Enter your name..." required>
                </div>

                <div class="mb-3">
                    <label for="c" class="form-label">content</label>
                    <textarea class="form-control" name="content" id="c" cols="10" rows="3"></textarea>
                </div>

                <!-- file 추가 라인 -->
                <div class="mb-3">
                    <label for="file" class="form-label">file</label>
                    <input type="file" class="form-control" name="files" id="file" multiple style="display: none;" />
                </div>
                <button type="button" id="trigger"> file upload </button>

                <!-- file 출력 라인 -->
                <div class="input-group mb-3" id="fileZone"></div>

                <div class="mb-3">
                    <label for="password" class="form-label"> 비밀번호 </label>
                    <input type="password" class="form-control" name="password" id="password" />
                </div>

                <button type="submit" class="btn btn-primary" id="regBtn">register</button>


            </form>
        </div>
    </div>

    <script th:src="@{/js/boardRegister.js}"></script>
</div>